<div class="navbar-light fixed-bottom bg-light">
  <div class="container d-flex py-3 justify-content-around">

    <a class="nav-link nav-item" href="#" id="nav-home">
      <span class="material-symbols-outlined">home</span>
      <span class="nav-label">Home</span>
    </a>

    <a class="nav-link nav-item" href="#" id="nav-stats">
      <span class="material-symbols-outlined">news</span>
      <span class="nav-label">Stats</span>
    </a>

    <a class="nav-link nav-item" href="#" id="nav-leaderboard">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 -960 960 960"
           width="24"
           height="24"
           fill="currentColor">
        <path d="M160-200v-400h160v400H160Zm240 0v-560h160v560H400Zm240 0v-300h160v300H640Z"/>
      </svg>
      <span class="nav-label">Leaderboard</span>
    </a>

    <a class="nav-link nav-item" href="#" id="nav-highlights">
      <span class="material-symbols-outlined">videocam</span>
      <span class="nav-label">Highlights</span>
    </a>

  </div>
</div>