/* Container to keep everything fixed at top */
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Blue Top Bar */
.navbar-top {
    background-color: #3A506B;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Logo container styling */
.logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

/* Styling for the logo */
.logo-img {
    position: absolute;
    z-index: 1;
    width: 60px;
    /* Adjust based on your image size */
    opacity: 0.3;
    /* Optional: makes it look like a watermark */
    pointer-events: none;
}

/* Logo header styling */
.logo-container h1 {
    position: relative;
    z-index: 2;
    margin: 0;
    color: #ffffff;
}

/* Logo header styling */
.ET {
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* -------------------------- */
/* Styling for user points */
/* -------------------------- */
.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.points {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.p-icon {
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}

#point-display {
    margin-top: 1rem;
}

/* -------------------------------- */
/* End of Styling for user points */
/* -------------------------------- */

/* Styling for user profile */
.profile-pic {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}