
.navbar .navbar-brand{
  font-family: 'Rubik Distressed', system-ui !important;
  font-weight: 400;
  font-style: normal;
  
}




/* HERO SECTION */
.hero {
  background-color: #575656;
  color: white;
  padding: 100px 20px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hero-buttons a {
  margin: 0 10px;
}

