/* Styling for header so page is not hidden behind it. */
#Header {
    height: 80px;
}

/* Styling for the google icons */
.material-symbols-outlined {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
}

/* The styling for back button */
#exit_button {
    text-decoration: none;
    color: #000000;
}

/* Styling for conatiner of whole page */
#profileUpdatePage {
    padding-bottom: 80px;
}

/* Styling for page title */
.pageTitle {
    display: flex;
    font-weight: bold;
    font-size: 28pt;
    padding-bottom: 2px;
    margin-top: 0px;
    justify-content: space-around
}

/* Styling for update profile form */
#updateProfileForm {
    padding: 1%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Styling for the form elements in the form */
.formElement {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

/* Styling for the select element in the form */
.form-select {
    margin-left: 0px;

}

/* Styling for the country select component */
country-select {
    margin-right: 20px;
}

/* Styling for the country-select select element */
#country-select {
    font-size: medium;
    height: 40px;
    width: 100% !important;
    border-radius: 5px;
    padding-right: 10px;
}

/* Styling for labels on the form */
label,
.radioHeader {
    font-weight: bold;
    font-size: 18pt;
    padding-bottom: 10px;
}

/* Styling for the radiobutton container */
.radioButtonField {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

/* Header for radio button (account type field) */
.radioHeader {
    padding-bottom: 5px;
}

/* Start of styling to make radio button look like
    toggle pill button */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radioButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 33px;
    width: 160px;
    background-color: #757373;
    color: #dad5d5;
    border: 1px solid #757373;
}

.radioButton:has(input:checked) {
    background-color: #f5f5f5;
    color: black;
}

#regularRadio {
    border-radius: 18px 0px 0px 18px;
}

#adminRadio {
    transform: translate(145px, 0px);
    border-radius: 0px 18px 18px 0px;
    text-align: end;
    width: 110px;
}

#adminRadio:has(input:checked) {
    z-index: 2;
    border-radius: 18px;
}

#regularRadio:has(input:checked) {
    z-index: 2;
    border-radius: 18px;
}

/* Radio labels styling */
#regularLabel,
#adminLabel {
    font-size: 15pt;
    font-weight: 500;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 20px;
}

#adminLabel {
    padding-right: 25px;
}

/* End of styling to make radio button look like
    toggle pill button */


/* Styling for form cancel and save button container*/
.formButtons {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: flex-end;
}

/* Styling for form cancel and save buttons*/
.btn {
    margin-right: 10px;
}